.gallery
{
float:left;
padding:10px;
margin:0px;
}
.gallery img
{
transition:1s;
padding:15px;
width:200px;
height:200px;
border:5px solid rgba(255,255,255,0.6);
}
.gallery img:hover
{
transform:scale(1.5,1.5);
}
